
#plan {
    display: flex;
    justify-content: space-around;
    
  }

#plan-list {
  border: 2px solid #BFB8AE;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 6px 4px #BFB8AE;
  text-align: center;
  font-size: 20px;
}

#plan-list li:first-letter {
  text-transform: uppercase;
}