
#plan {
    display: flex;
    justify-content: space-around;
    
  }

#plan-list {
  border: 2px solid #BFB8AE;
  padding: 10px;
  box-shadow: 6px 4px #BFB8AE;
  text-align: center;
}

#plan-list h2 {
  text-decoration: underline;
  text-align: center;
}